<div class="res-name-box">
  <div class="res-details">
    <a href="restaurants/<%= place.id %>" style="color: #EDE68B; text-decoration: none;">
      <span class="name">
        <font size="5"><%= place.name %></font>
      </span></a><br>
      <br>
      <span class="notes"><em><%= place.notes %></em></span>
      <p>Category:</p><span class="category"><b><%= place.category.name %></b></span>


    <div class="user-options">
    <!-- find each restaurant id before adding this ability -->
  <% if logged_in? %>

       <% if current_user.id == place.user_id %>
          <a href="/restaurants/<%= place.id %>/edit"><span class="edit">Edit</span></a>
          <form method="POST" action="/restaurants/<%= place.id %>">
              <input name="_method" type="hidden" value="DELETE">
              <input class="btn-delete" type="submit" value="Delete">
          </form>
        <% end %>
  <% end %>

    </div>
  </div>
</div>
